alias lint="~/repos/notes/scripts/lint.py"
alias view="~/repos/notes/scripts/convert_to_note.py"
alias summarize="~/repos/notes/scripts/summarize.py"
alias args="~/repos/notes/scripts/test_argv.py"
alias edit="~/repos/notes/scripts/edit.py"
